<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty project was built by <a target="_blank" href="#">Mia</a>who is a student at UC Berkeley Extension coding bootcamp. 
  </p>
  <br />
  <p>
    She is learning html, css, js, ruby.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://online.bootcampspot.com"> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mia.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mia Zou</h2>
      <br />
      <p>
        Here is a image of Mia.
      </p>
    </div>

    <br class="clear" />



</div>

<br clear="clear" />
<br />
<br />
<br />
<br />